.add-form {
    padding: 15px;
    background-color: #002333;

    .form-group {
        width: 100%;
        display: flex;
        padding: 2px;
    
        label {
            width: 30%;
            color: white;
        }
    
        input[type="text"] {
            padding: 3px;
            width: 70%;
        }
    
        input[type="checkbox"] {
            margin-top: 3px;
        }

        button {
            width: 80px;
            height: 30px;
            margin-left: auto;
            justify-self: end;
        }
    }
}